# Dependency directories
node_modules/

# Production build directories
dist/
dist-ssr/
build/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment and secrets
.env
.env.local
.env.*.local

# Vite cache
.vite/
